@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --card: 137 63% 97%;
    --ring: 137 45% 65%;
    --input: 220 13% 91%;
    --muted: 137 23% 93%;
    --accent: 137 18% 76%;
    --border: 220 13% 91%;
    --popover: 137 63% 97%;
    --primary: 137 45% 65%;
    --secondary: 137 12% 86%;
    --background: 137 63% 98%;
    --foreground: 137 72% 4%;
    --destructive: 9 97% 36%;
    --card-foreground: 137 72% 3%;
    --muted-foreground: 137 1% 29%;
    --accent-foreground: 137 18% 16%;
    --popover-foreground: 137 72% 3%;
    --primary-foreground: 137 45% 5%;
    --secondary-foreground: 137 12% 26%;
    --destructive-foreground: 0 0% 100%;
    --radius: 0.5rem;
  }

  .dark {
    --card: 137 40% 3%;
    --ring: 137 45% 65%;
    --input: 215 27.9% 16.9%;
    --muted: 137 23% 7%;
    --accent: 137 26% 21%;
    --border: 215 27.9% 16.9%;
    --popover: 137 40% 3%;
    --primary: 137 45% 65%;
    --secondary: 137 18% 14%;
    --background: 137 40% 2%;
    --foreground: 137 12% 99%;
    --destructive: 9 97% 48%;
    --card-foreground: 0 0% 100%;
    --muted-foreground: 137 1% 71%;
    --accent-foreground: 137 26% 81%;
    --popover-foreground: 0 0% 100%;
    --primary-foreground: 137 45% 5%;
    --secondary-foreground: 137 18% 74%;
    --destructive-foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
